* {
    font-family: "Roboto", serif;
    font-weight: 900;
    box-sizing: border-box;
    font-size: 30px;
}

#btn_b1,
#btn_b2,
#btn_b3,
#btn_b4 {
    margin: 10px 0;
}

input,
select {
    width: 32%;
    margin-bottom: 10px;
}

p span {
    color: red;
}

table,
td {
    border-collapse: collapse;
    border: 1px solid black;
}

#ip_npt {
    width: 38%;
}